
/*
Main style sheet

---------------------------------------------------------------------------------------------------------------------------

made by :
    Gély Léandre :: https://github.com/Zaynn-lea

date :
    started      :  17 / 01 / 2025
    last updated :  27 / 01 / 2025
*/


/* css reset */
* {
    margin:     0;
    padding:    0;
    box-sizing: border-box;
}


/*********************\
|    css variables    |
\*********************/

/*
To have a uniform color palete throughtout the site
And make it easy to change theme
*/
:root {
    --TextColor:            #EEF1EF;
    --BackgroundColorInner: #0E1211;
    --BackgroundColor:      #090C0B;

    --AccentColor0:       #6D52B7;      /* Shade 0 */
    --AccentColor0Shade1: #A06CD5;
    --AccentColor0Shade2: #CA9CE1;
    --AccentColor0Shade3: #E2CFEA;
}


/***********************\
|    General Styling    |
\***********************/

html {
    font-size:       1rem;
    font-family:     monospace;
    line-height:     1.4;
    scroll-behavior: smooth;

    color:            var(--TextColor);
    background-color: var(--BackgroundColor);
}

a,
a:visited {
    font-size:       normal;
    color:           var(--TextColor);
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
    cursor:          pointer;
}


/**********************************\
|    Additionnal Useful Styling    |
\**********************************/


.hidden {
    display: none;
}


/**********************\
|    Header Styling    |
\**********************/


/*
Use to get a nice thick rounded colorfull outline/border 
Because if we are only using the border rule, we dan't get the stripes
*/
section#border_banner {
    background-color: var(--AccentColor0);
    border-radius:     2.25em;
    margin:            1em;
    padding:           1em;
}

section#border_banner h1 {
    background-color: var(--BackgroundColorInner);
    border-radius:    1em;
    padding-left:     15%;
}

h1 {
    font-size: 2em;
}


/* make the stripes go under the titles
    they go only on the border */

div.stripes {
    position: relative;
}

svg.stripes {
    position: absolute;
    top:      -3.90em;
    right:    0em;
}

path#stripe0 {  fill: var(--AccentColor0Shade1);  }
path#stripe1 {  fill: var(--AccentColor0Shade2);  }
path#stripe2 {  fill: var(--AccentColor0Shade3);  }


nav ul {
    list-style:      none;
    display:         flex;
    justify-content: space-around;
}


details ol {
    display: inline;
}

/********************\
|    Main Styling    |
\********************/


main {
    background-color: var(--BackgroundColorInner);
    border:           .175em solid var(--AccentColor0);
    border-left:      var(--BackgroundColorInner);
    border-right:     var(--BackgroundColorInner);
}

main section {
    display:         flex;
    flex-wrap:       wrap;
    justify-content: space-evenly;
}

main article,
main fieldset {
    margin:        1em .5em;
    padding:       1em 4em;
    border:        .25em solid var(--AccentColor0Shade1);
    border-radius: 1em;
}

legend {
    font-size:     1.8em;
    padding-left:  .5em;
    padding-right: .5em;
}


button,
input {
    border:           .25em solid var(--AccentColor0Shade2);
    border-radius:    1em;
    padding:          .5em 1em;
    background-color: var(--BackgroundColorInner);
    color:            var(--TextColor);
    font-size:        1rem;
}


/**********************\
|    Footer Styling    |
\**********************/


footer {
    display:         flex;
    justify-content: space-around;
}

footer article {
    margin:  auto;
    padding: auto;
}

footer a,
footer a:visited {
    font-size: 1.2rem;
}
