
/*
style sheet to space the layout of TP solutions

---------------------------------------------------------------------------------------------------------------------------

made by :
    Gély Léandre :: https://github.com/Zaynn-lea

date :
    started      :  27 / 01 / 2025
    last updated :  17 / 02 / 2025
*/


/***********************\
|    General Styling    |
\***********************/

.TP_solution {
    display:    block;
    text-align: center;
}

.TP_solution div,
.TP_solution p,
.TP_solution button,
.TP_solution input {
    margin: .25em;
}

/*  for TP5  */
.TP_solution * ul {
    list-style: none;
}
